* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: black;
    padding: 20px;
}

main{
    margin: auto;
    align-items: center;
    width: 90vw;
}


header h1 {
    text-align: center;
    margin-bottom: 20px;
    color: darkred;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.links a {
    text-decoration:none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.links a:hover {
    color: #3498db;
}


.input-box {
    width: 100%;
    max-width: 900px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}


.historia {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;   
    
}

.historia img {
    max-width: 50%; 
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
    

.historia h3 {
    color: darkred;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.historia p {
    font-size: 1rem;
    line-height: 1.8;
    color: black;
}

.input-box img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.expansao{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 20px;
    align-items: flex-start;  
    display: flex;
    flex-direction: column;
    
}

.expansao img {
    width: 100%;
    margin-right: 20px; 
    object-fit: cover;

}

.expansao p {
    width: 100%;
    font-size: 1em; 
    line-height: 1.6;
}

.expansao H3 {
    color: darkred;
    font-size: 1.6em;
    margin-bottom: 10px; 
}

.expansao h2 {
    color: darkred;
    margin-bottom: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif
}


footer {
    margin-top: 50px;
    background-color:darkred;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

footer a {
    color:#fff;
    text-decoration: none;
    margin-left: 10px;
    transition: color 0.3s ease-in-out;
}

.footer a:hover {
    color: #3498db;
}


@media (max-width: 768px) {
    .input-box {
        flex-direction: column;
    }

    .links {
        flex-direction: column;
        gap: 10px;
    }
}